src/shared/xml/schemas/nfe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="NFe">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="infNFe">
          <xs:complexType>
            <xs:sequence>

              <!-- IDENTIFICAÇÃO -->
              <xs:element name="ide">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="natOp" type="xs:string"/>
                    <xs:element name="nNF" type="xs:integer"/>
                    <xs:element name="serie" type="xs:integer"/>
                    <xs:element name="dhEmi" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <!-- EMITENTE -->
              <xs:element name="emit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CNPJ" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <!-- DESTINATÁRIO -->
              <xs:element name="dest">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="xNome" type="xs:string"/>
                    <xs:element name="CNPJ" type="xs:string"/>
                    <xs:element name="IE" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <!-- ITENS -->
              <xs:element name="det" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cProd" type="xs:string"/>
                    <xs:element name="xProd" type="xs:string"/>
                    <xs:element name="NCM" type="xs:string"/>
                    <xs:element name="CFOP" type="xs:string"/>
                    <xs:element name="CST" type="xs:string"/>
                    <xs:element name="uCom" type="xs:string"/>
                    <xs:element name="qCom" type="xs:decimal"/>
                    <xs:element name="vUnCom" type="xs:decimal"/>
                    <xs:element name="vProd" type="xs:decimal"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <!-- TOTAL -->
              <xs:element name="total">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="vNF" type="xs:decimal"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
