src/shared/xml/schemas/nfe.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="NFe">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="emit">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CNPJ" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="dest">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CNPJ" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="detalhes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cfop" type="xs:string"/>
              <xs:element name="cst" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="total">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="vNF" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
